body{
    font-family: "Montserrat", sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

.main{
    display: flex;
}
.top-navbar{
    /* position: absolute; */
    border: 2px solid white;
    width: 100%;
    height: 70px;
    background-color: black;
    display: flex;
}

.top-logo-home{
    display: flex;
    width: 35%;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;

}

.top-navbar .top-logo-home img{
    height: 50%;
    width: 40px;
    margin-top:0.2rem;
    padding-left: 4%;
}

.top-navbar .top-logo-home i{
    font-size: 2rem;
    margin-top:0.2rem;
    padding-left: 4%;
    /* border: 2px solid beige; */
}

.top-navbar .search-bar{
    /* border: 2px solid white; */
    display: flex;
    width:30%;
    background-color: #232323;
    border-radius: 2.5rem;
    height: 70%;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
    margin-left: 0.6rem;

}

.top-navbar .search-bar:hover{
     border:2px solid #fff;
}

.search-bar input{
    width: 100%;
    background-color: transparent;
    border: none;
    font-size: 1rem;
    height: 100%;
}

.search-bar i{
    font-size: 2rem;
    width: 15%;
}

.install-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid white; */
    width: 32%;
    margin-left: 1rem;
}

.install-buttons .exp-btn1{
    height: 2.4rem;
    width: 9rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
}

.install-buttons .exp-btn1:hover{
    transform: scale(1.02);
}

.install-buttons .instll-btn1{
    height: 2.4rem;
    width: 9rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: black;
    border: none;
    color: white;
    opacity: 0.7;
}

.install-buttons .instll-btn1:hover{
    transform: scale(1.02);
    opacity: 1;
}

.install-buttons .instll-btn1 i{
    padding-right: 0.5rem;
}

.install-buttons .nav-icons{
    opacity: 0.7;
}

.install-buttons .nav-icons:hover{
    opacity: 1;
    transform: scale(1.02);
}

.install-buttons #user-icon{
    font-size: 2rem;
}

/*Left Sidebar*/

.left-sidebar{
    position: absolute;
    left: 10px;
    top: 85px;
    border: 2px solid white;
    height: 76vh;
    width: 21%;
    background-color: #141414;
    border-radius: 0.7rem;
}

.left-sidebar .your-library{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;
}

.left-sidebar .your-library p{
    width: 55%;
    font-weight: 700;
    margin-left: 1rem;
}

.left-sidebar .your-library button{
    background-color: #272727;
    border: none;
    height: 2rem;
    border-radius: 1rem;
    color: white;
    width: 6rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.left-sidebar .your-library i{
    padding-right: 0.4rem;
    padding-left: 0.4rem;
    opacity: 0.7;
}

.left-sidebar .your-library .extract-bar{
    padding-right: 0.7rem;
    padding-left: 0.7rem;
    opacity: 0.7;
}

.left-sidebar .your-library i:hover{
    opacity: 1;
}

.left-sidebar .artist .artists-btn{
    background-color: #272727;
    border: none;
    height: 2rem;
    border-radius: 1rem;
    color: white;
    width: 4rem;
    font-size: 0.8rem;
    font-weight: 600;
    margin-left: 0.8rem;
    margin-top: 0.7rem;
    filter: brightness(80%);
}

.left-sidebar .artist .artists-btn:hover{
    filter: brightness(100%);
}

.recent-leftsidebar{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.recent-leftsidebar .left-search{
    padding-left: 1rem;
    opacity: 0.7;
    font-size: 0.9rem
}

.recent-leftsidebar .left-search:hover{
    opacity: 1;
}

.recent-leftsidebar i{
    padding-left: 0.5rem;
}
.recent-leftsidebar p{
    padding-right: 0.8rem;
    opacity: 0.7;
    font-size: 0.9rem;
}

.recent-leftsidebar p:hover{
    opacity: 1;
}


.left-sidebar .albums{
    display: flex;
    flex-direction: column;
}


/*liked songs*/

.left-sidebar .albums .liked-songs{
    display: flex;
    /* border: 2px solid white; */
}

.left-sidebar .albums .liked-songs img{
    height: 3.5rem;
    width: 3.5rem;
}

.liked-songs .inner-box1{
    margin-top: -0.7rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

/*Atif Aslam*/

.left-sidebar .albums .atif-aslam{
    display: flex;
    /* border: 2px solid white; */
}

.left-sidebar .albums .atif-aslam img{
    height: 3.5rem;
    width: 3.5rem;
}

.atif-aslam .inner-box2{
    margin-top: -0.7rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}


/*Darshan raval*/

.left-sidebar .albums .darshan-raval{
    display: flex;
    /* border: 2px solid white; */
}

.left-sidebar .albums .darshan-raval img{
    height: 3.5rem;
    width: 3.5rem;
}

.darshan-raval .inner-box3{
    margin-top: -0.7rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

/*B-Praak*/

.left-sidebar .albums .b-praak{
    display: flex;
    /* border: 2px solid white; */
}

.left-sidebar .albums .b-praak img{
    height: 3.5rem;
    width: 3.5rem;
}

.b-praak .inner-box4{
    margin-top: -0.7rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

/*Arijit Singh*/

.left-sidebar .albums .arijit-singh{
    display: flex;
    /* border: 2px solid white; */
}

.left-sidebar .albums .arijit-singh img{
    height: 3.5rem;
    width: 3.5rem;
}

.arijit-singh .inner-box5{
    margin-top: -0.7rem;
    margin-left: 1rem;
    margin-bottom: -0.5rem;
}

.albums .albums-inner{
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.albums .albums-inner:hover{
    border-radius: 0.8rem;
    background-color: #232323;
}

/*Main Content*/

.main-content{
    position: absolute;
    top: 85px;
    left:21.5rem;
    border: 2px solid white;
    height: 76vh;
    width: 52%;
    overflow: auto;
    background-color: #141414;
    border-radius: 0.7rem;
}

.main-content .main-content-navbar{
    display: flex;
    border: 2px solid white;
    width: 100%;
    height: 3.5rem;
    align-items: center;
}

.main-content .main-content-navbar button{
    margin-right: 1rem;
    border: none;
    background-color: #232323;
    color: white;
    border-radius: 3rem;
    padding: 0.6rem;
    filter: brightness(100%);

}

.main-content .main-content-navbar button:hover{
    filter: brightness(140%);
}

.main-content .main-content-navbar .all-btn{
    margin-left: 1.5rem;
    background-color: #fff;
    color: black;

}


.main-content .main-content-cards{
    display: flex;
    width: 80%;
    /* border: 2px solid white; */
    margin-top: 0.4rem;
    margin-left: 4.9rem;
    flex-wrap: wrap;
}

.main-content .main-content-cards img{
    height: 100%;
    border-radius: 0.4rem 0 0 0.4rem;
    margin-right: 0.4rem;
}

.main-content .main-content-cards .small-cards{
    background-color: #292929;
    filter: brightness(90%);
}

.main-content .main-content-cards .small-cards:hover{
    filter: brightness(130%);
}
.main-content .main-content-cards .liked{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
}

.main-content .main-content-cards .thodi-si-daru{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;

}

.main-content .main-content-cards .atif{
   width: 48%;
    display: flex;
    /* border: 1px solid white; */
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
}
.main-content .main-content-cards .peaky-blinder{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
}
.main-content .main-content-cards .desi-boys{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
}
.main-content .main-content-cards .bollywood{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    height: 3.5rem;
    margin-top: 0.3rem;
    border-radius: 0.4rem;
}
.main-content .main-content-cards .trending-now{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    margin-right: 0.7rem;
    margin-left: 0.3rem;
    height: 3.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
}
.main-content .main-content-cards .mega-punjabi{
    width: 48%;
    display: flex;
    /* border: 1px solid white; */
    height: 3.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    border-radius: 0.4rem;
}

.main-content .made-for{
    margin-left: 5.2rem;
    /* border: 1px solid white; */
    width: 70%;
    height: 4rem;
    margin-top: 1rem;
}

.main-content .made-for p{
    margin-bottom: -0.7rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

.main-content .made-for h2{
    font-size: 1.4rem;
    /* border: 1px solid white; */
    margin-right: 25rem;
}

.main-content .made-for h2:hover{
    text-decoration: underline;
    cursor: pointer;
}


.made-for-cards{
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    margin-left: 5rem;
    /* border: 2px solid white; */
}

.made-for-cards .made-cards-inner{
    margin-right: 1rem;
    border: 1px solid white;
    width: 25%;
    height: 80%;
    border-radius: 0.7rem;
    
}

.made-for-cards .made-cards-inner:hover{
    background-color: #292929;
}

.made-for-cards .made-cards-inner p{
    font-size: 0.7rem;
}
.made-for-cards .made-cards-inner img{
    height: 60%;
    width: 90%;
    border-radius: 0.7rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-left: 0.35rem;
    /* padding-right: 1rem; */
    
}

.made-for-cards .first-made-for{
    width: 25%;
    
}


.right-sidebar{
    position: absolute;
    right: 10px;
    top: 85px;
    border: 2px solid white;
    width: 23.8%;
    height: 76vh;
    background-color: #141414;
    border-radius: 0.7rem;
    
}



.music-player{
    position: absolute;
    bottom: 0;
    border: 2px solid white;
    height: 70px;
    width: 99.80%;
    background-color: #141414;
}